<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Klausurzulassung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Klausurzulassungssystem</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li class="active">
                <a href="/" th:href="@{/}">Home</a>
            </li>
            <li>
                <a href="/zulassung1/student" th:href="@{/zulassung1/student}">Student</a>
            </li>
            <li>
                <a href="/zulassung1/modulHinzufuegen" th:href="@{/zulassung1/modulHinzufuegen}">Orga</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <!-- Restlichen Inhalt hier einfügen! -->
    <div class="row h-100" style="margin-top: 5vh;">
        <div class="col-md-12">
            <div class="card border-info" style="border-width: 0px; border-bottom-width: 0.25vh; border-radius: 2%;">
                <div class="card-body text-center">
                    <span class="h1">Willkommen im Klausurzulassungssystem</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row h-100" id="mainpageAuswahlMenue" style="margin-top: 5vh;">
        <div class="col-md-12 text-center" style="margin-top: 2vh;">
            <h2>Welche Rolle hast du ?</h2>
        </div>
        <div class="col-md-5 text-right" style="margin-top: 2vh;">
            <button class="btn btn-info" onclick="changeFromMenueToStudent()" type="button">Student</button>
        </div>
        <div class="col-md-2 text-center" style="margin-top: 2vh;">
            <h3>ODER</h3>
        </div>
        <div class="col-md-5 text-left" style="margin-top: 2vh;">
            <button class="btn btn-info" onclick="changeFromMenueToOrganisator()" type="button">Organisator</button>
        </div>
    </div>
    <div class="row h-100" id="mainpageStudentInfo" style="display: none; margin-top: 5vh;">
        <div class="col-md-8 h-100">
            <div class="card text-center">
                <div class="card-body">
                    <span>Hier stehen dann die Möglichkeiten die der Student auf der Seite hat.<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-left h-100">
            <button class="btn btn-info" onclick="changeFromStudentToMenue()" type="button">Zurück zur Auswahl</button>
        </div>
    </div>
    <div class="row h-100" id="mainpageOrganisatorInfo" style="display: none; margin-top: 5vh;">
        <div class="col-md-8 text-center">
            <div class="card">
                <div class="card-body">
                    <span>Hier stehen dann die Möglichkeiten die der Organisator hat.<br>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
                        voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet
                        clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
                        Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                        eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                        At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
                        no sea takimata sanctus est Lorem ipsum dolor sit amet.</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 text-left">
            <button class="btn btn-info" onclick="changeFromOrganisatorToMenue()" type="button">Zurück zur Auswahl
            </button>
        </div>
    </div>
</main>
</body>
</html>
<script>
    function changeFromMenueToStudent() {
        $("#mainpageAuswahlMenue").fadeOut(1000);
        $("#mainpageStudentInfo").fadeIn(1000);
    }

    function changeFromMenueToOrganisator() {
        $("#mainpageAuswahlMenue").fadeOut(1000);
        $("#mainpageOrganisatorInfo").fadeIn(1000);
    }

    function changeFromStudentToMenue() {
        $("#mainpageStudentInfo").fadeOut(1000);
        $("#mainpageAuswahlMenue").fadeIn(1000);
    }

    function changeFromOrganisatorToMenue() {
        $("#mainpageOrganisatorInfo").fadeOut(1000);
        $("#mainpageAuswahlMenue").fadeIn(1000);
    }
</script>