<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Klausurzulassung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Modul Auswahl</title>

    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/zulassung1/student" th:href="@{/zulassung1/student}">Student</a>
            </li>
            <li class="active">
                <a href="/zulassung1/modulAuswahl" th:href="@{/zulassung1/modulAuswahl}">Orga</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <div class="container pt-3">
        <h1 class="text-center">
            Modul Auswahl
        </h1>


        <div class="alert alert-warning" th:if="${errorMessage!=null}">
            <span th:text="${errorMessage}"></span>
        </div>

        <div class="alert alert-success" th:if="${successMessage!=null}">
            <span th:text="${successMessage}"></span>
        </div>


        <div id="new-modul">
            <form action="#" method="GET" th:action="'/zulassung1/modulHinzufuegen'">
                <input class="btn btn-primary" type="submit" value="Modul hinzufügen">
            </form>
        </div>

        <hr class="m-5">

        <div id="links" th:if="${moduls}">
            <table class="table">
                <thead>
                <tr>
                    <th>Modul-ID</th>
                    <th>Modulname</th>
                    <th>Auswählen</th>
                </tr>
                </thead>
                <tbody th:remove="all-but-first">
                <tr th:each="m : ${moduls}">
                    <td>
                        <span th:text="${m.id}">1234</span>
                    </td>
                    <td>
                        <span th:text="${m.name}">ProPra2</span>
                    </td>
                    <td>
                        <div>
                            <form action="#" method="GET" th:action="'/zulassung1/modul' +'/' + ${m.id}">
                                <input class="btn btn-outline-dark btn-sm" type="submit" value="Auswählen">
                            </form>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
</body>
</html>