<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{mopslayout :: html(name='Klausurzulassung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}">
<head>
    <meta charset="utf-8">
    <title>Modul Ansicht</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <!-- Navigation als ungeordnete Liste mit einfachen Links hier einfügen! -->
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1 class="text-center">
        Modul Ansicht
    </h1>

    <div>Name des ausgewählten Moduls:
        <span th:text="${modul}">Propra</span>
    </div>
    <div>ID des ausgewählten Moduls:
        <span th:text="${id}">1234</span>
    </div>

    <form action="#" method="post" th:action="'/zulassung1/upload'" enctype="multipart/form-data">
        <div>
            <label>Wählen Sie eine Zulassungsliste aus Ihrem Dateimanager aus!
                <input name="datei" type="file" size="50" accept="text/*">
            </label>
        </div>
    </form>


    <div>
        <label>Hier können Sie die Liste mit Klausurzulassungen runterladen!
            <form method="get" action="file.doc">
                <button type="submit">Download!</button>
            </form>
        </label>
    </div>

</main>
</body>
</html>