<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Statistik', title='Optional: Tabtitel', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Statistiken</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/zulassung1/student" th:href="@{/zulassung1/student}">Student</a>
            </li>
            <li>
                <a href="/zulassung1/modulAuswahl" th:href="@{/zulassung1/modulAuswahl}">Orga</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1>Statistik des Moduls <span th:text="${currentModul.getName()}"></span></h1>
    <br>
    <br>
    <div id="chart_div"></div>
</main>
</body>
</html>
<script th:inline="javascript">
    /*<![CDATA[*/
    google.charts.load('current', {packages: ['corechart', 'line']});
    google.charts.setOnLoadCallback(drawLogScales);

    function drawLogScales() {
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'X');
        data.addColumn('number', 'Dogs');
        data.addColumn('number', 'Cats');

        data.addRows([
            [new Date(2020, 1, 1), 0, 0],
            [new Date(2020, 1, 2), 10, 5],
            [new Date(2020, 1, 3), 23, 15],
            [new Date(2020, 1, 4), 17, 9],
            [new Date(2020, 1, 5), 18, 10],
            [new Date(2020, 1, 6), 9, 5],
            [new Date(2020, 1, 7), 11, 3],
            [new Date(2020, 1, 8), 27, 19],
            [new Date(2020, 1, 9), 33, 25],
            [new Date(2020, 1, 10), 40, 32]
        ]);

        var options = {
            hAxis: {
                title: 'Time',
                logScale: false
            },
            vAxis: {
                title: 'Popularity',
                logScale: false
            },
            colors: ['#a52714', '#097138']
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);

        var message = /*[[${zahl}]]*/ '0';
        console.log(message);
    }
    /*]]>*/
</script>