<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Klausurzulassung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Klausurzulassungssystem</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/zulassung1/" th:href="@{/zulassung1}">Home</a>
            </li>
            <li class="active">
                <a href="/zulassung1/student" th:href="@{/zulassung1/student}">Student</a>
            </li>
            <li>
                <button><a href="/zulassung1/modulHinzufuegen" th:href="@{/zulassung1/modulHinzufuegen}">Orga</a></button>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1>Klausuranmeldung</h1>
    <div th:if="${meldung}">
        <div th:classappend="${!success} ? 'alert alert-danger'" th:text="${fehlerText}">
            Altzulassung nicht erfolgreich!
        </div>

        <div th:classappend="${success} ? 'alert alert-success'"
             th:text="${successText}">
            Altzulassung erfolgreich!
        </div>
    </div>
    <form method="post" th:action="@{/zulassung1/student}">

        <table>

            <tr>
                <td>Matrikelnummer:</td>
                <td>

                    <input name="matrikelnummer" th:value="${matrikelnr}" type="text">


                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>Vorname:</td>
                <td>

                    <input name="vorname" th:value="${vorname}" type="text">


                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>Nachname:</td>
                <td>

                    <input name="nachname" th:value="${nachname}" type="text">


                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>E-Mail Adresse:</td>
                <td>

                    <input name="email" th:value="${email}" type="text">


                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>FachID:</td>
                <td>

                    <input name="fach" th:value="${fachName}" type="text">

                </td>
                <td>
                    <p>(Wie auf Quittung)</p>
                </td>
            </tr>
            <tr>
                <td>Token:</td>
                <td>
                    <input name="token" th:value="${zulassungToken}" type="text">

                </td>
                <td>
                    <p>(64-stellig)</p>
                </td>
            </tr>

        </table>
        <input name="action" type="submit" value="Klausurzulassung erhalten">

    </form>
</main>
</body>
</html>