<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Klausurzulassung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Klausurzulassungssystem</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/zulassung1/" th:href="@{/zulassung1}">Home</a>
            </li>
            <li class="active">
                <a href="/zulassung1/student" th:href="@{/zulassung1/student}">Student</a>
            </li>
            <li th:if="${!#lists.contains(account.roles, 'studentin')}">
                <a href="/zulassung1/modulHinzufuegen" th:href="@{/zulassung1/modulHinzufuegen}">Orga</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1>Klausuranmeldung</h1>
    <div th:if="${meldung}">
        <div th:classappend="${!success} ? 'alert alert-danger'" th:if="${!success}" th:text="${fehlerText}">
        </div>
        <div th:classappend="${success} ? 'alert alert-success'" th:if="${success}"
             th:text="${successText}">
        </div>
    </div>


    <form method="post" th:action="@{/zulassung1/modulHinzufuegen}">
        <div class="form-group">
            <label for="matrikelnummer">Bitte geben Sie ihre Matrikelnummer ein.</label>
            <input id="matrikelnummer" name="matrikelnummer" th:value="${matrikelnr}" type="text">
        </div>
        <div class="form-group">
            <label for="vorname">Bitte geben Sie ihren Vornamen ein.</label>
            <input id="vorname" name="vorname" th:value="${vorname}" type="text">
        </div>
        <div class="form-group">
            <label for="nachname">Bitte geben Sie ihren Nachname ein.</label>
            <input id="nachname" name="nachname" th:value="${nachname}" type="text">
        </div>
        <div class="form-group">
            <label for="fach">Bitte geben Sie ihre FachId ein.</label>
            <input id="fach"  name="fach"th:value="${fach}" type="text">
        </div>
        <div class="form-group">
            <label for="token">Bitte geben Sie ihren Token ein.</label>
            <input id="token" name="token" th:value="${zulassungToken}" type="text">
        </div>

        <input class="btn btn-primary" name="action" type="submit" value="Klausurzulassung erhalten">

    </form>
</main>
</body>
</html>