<!DOCTYPE html>
<html lang="en"
      th:replace="~{mopslayout :: html(name='Klausurzulassung', headcontent=~{:: headcontent}, navigation=~{:: navigation}, bodycontent=~{:: bodycontent})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Klausurzulassungssystem</title>
    <th:block th:fragment="headcontent">
        <!-- Links, Skripts, Styles hier einfügen! -->
    </th:block>
</head>
<body>
<header>
    <nav class="navigation navigation-secondary" is="mops-navigation" th:fragment="navigation">
        <ul>
            <li>
                <a href="/" th:href="@{/}">Home</a>
            </li>
            <li class="active">
                <a href="/zulassung1/student" th:href="@{/zulassung1/student}">Student</a>
            </li>
            <li>
                <a href="/zulassung1/modulHinzufuegen" th:href="@{/zulassung1/modulHinzufuegen}">Orga</a>
            </li>
        </ul>
    </nav>
</header>
<main th:fragment="bodycontent">
    <h1>Klausuranmeldung</h1>
    <div th:if="${meldung}">
        <div th:if="${success}">

            <form>
                <input id="fname" name="fname" style="    width: 100%;
                                  padding: 12px 20px;
                                  margin: 8px 0;
                                  box-sizing: border-box;
                                  border: none;
                                  background-color: #3CBC8D;
                                  color: white; " type="text"
                       value="Erfolgreich zur Klausur angemeldet!">
            </form>
        </div>
        <div th:if="${!success}">
            <form>
                <input id="fname" name="fname" style="    width: 100%;
                                  padding: 12px 20px;
                                  margin: 8px 0;
                                  box-sizing: border-box;
                                  border: none;
                                  background-color: #ef291f;
                                  color: white; " type="text" value="Anmeldung fehlgeschlagen!">
            </form>
        </div>
    </div>
    <form action="/student" method="post">

        <table>

            <tr>
                <td>Matrikelnummer:</td>
                <td>
                    <input name="matrikelnummer" type="string" value="2618132">
                </td>
                <td>
                    <p></p>
                </td>
            </tr>
            <tr>
                <td>FachID: </td>
                <td>
                    <input type="string" name="fach" value="1234">
                </td>
                <td>
                    <p>(Wie auf Quittung)</p>
                </td>
            </tr>
            <tr>
                <td>Token:</td>
                <td>
                    <input name="token" type="string">
                </td>
                <td>
                    <p>(64-stellig)</p>
                </td>
            </tr>

        </table>
        <input name="action" type="submit" value="Klausurzulassung erhalten">

    </form>
</main>
</body>
</html>